# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: b7d4e36d4f1a374a9a1544fbcc339046aef3446a134aa7d013a9c76b20fbbf099aadb94e00f399c9f5cb2b6168aa801cd2766f4c3bf0954ae5e76cdcd0ab4724

test:
  secret_key_base: 54204f735a5a6788f7771bf1467d6caf9acf443cc29297f631f484facedf8fa6c87dcc8eaed21e0975ab14f6b30eb5c65ce34679898b219c6fad5efc03601a0b

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: 54204f735a5a6788f7771bf1467d6caf9acf443cc29297f631f484facedf8fa6c87dcc8eaed21e0975ab14f6b30eb5c65ce34679898b219c6fad5efc03601a0b
