/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fonts
 */
@import "semantic-ui";

.main_body {
  margin-top: 90px;
}

.link_custom, .sort_link {
  color: #000
}

.link_custom:hover, .sort_link:hover {
  color: #d01919
}

.matrix {
  background: image-url('matrix.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.not_auth_container {
  height: 100%;
  padding-top: 20vh;
  width: 500px;
  margin: 0 auto
}

.centered {
  text-align: center
}

.very_big {
  font-size: 10em !important
}

.justify {
  text-align: justify !important
}

.bold {
  font-weight: 500 !important
}

.footer_image {
  display: inline;
}

.my_footer {
  background: rgba(255, 255, 255, 0) !important;
  color: #fff
}
