@font-face {
    font-family: 'Open Sans';
    src: asset-url('armata.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Times New Roman';
    src: asset-url('times_new_roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
